@using Models
@inject HttpClient Http

<h3>QUesti0ns</h3>

@if (Survey != null) {
    <EditForm Model=@result OnValidSubmit=FormSubmitted>
        <DataAnnotationsValidator/>
        @for (var i = 0; i < Survey.Questions.Count; i++) {
            var local = i;
            var question = Survey.Questions[local];
            <div>@question.Statement</div>
            <InputRadioGroup @bind-Value=result.Answers[local].Option class="form-control">
                <InputRadio Value=1 />@question.Option1
                <InputRadio Value=2 />@question.Option2
            </InputRadioGroup>
        }
        <input type="submit" value="Submit" class="btn btn-primary" />
    </EditForm>
}

@code {
    [Parameter]
    public Models.Survey Survey { get; set; }
    Result result = new Result();
    protected override void OnInitialized()
    {
        result.Answers = new List<Answer>();
        if(Survey != null) {
            foreach (var question in Survey.Questions) {
                result.Answers.Add(new Answer() {QuestionId = question.Id});
            }
        } 
    }
    public void FormSubmitted() {
        foreach(var item in result.Answers) {
            Console.WriteLine(item.Option);
        }
    }
    public class Result {
        public List<Answer> Answers ;
    }
}
