@page "/survey/{SurveyId:int}"
@inject HttpClient Http
@inject NavigationManager Navigation

@if(survey!=null){
    <div style="height: 100vh; background-image: url(@survey.Picture); background-size: cover;">
        <TopBar ComponentName=@survey.Title />
        <div class="details">
            <p>@survey.Description</p>
            <button class="btn btn-outline-light" onclick="@Navigate">Click to start</button>
        </div>
    </div>
}

@code {
    [Parameter] public int SurveyId { get; set; } = 0;
    private Models.Survey survey;
    private int currentId = 0;

    protected async override Task OnParametersSetAsync()
    {
        if (!this.SurveyId.Equals(this.currentId))
        {
            survey = await Http.GetFromJsonAsync<Models.Survey>("https://localhost:5001/api/Surveys/" + SurveyId);
            this.currentId = this.SurveyId;
        }
    }
    public void Navigate() {
        var url = "questions/"+SurveyId;
        Navigation.NavigateTo(url);
    }
}