@page "/survey/{SurveyId:int}"
@inject HttpClient Http

<div style="height: 100vh; background-image: url(@survey.Picture); background-size: cover;">
    <TopBar ComponentName=@survey.Title />
    This is survery @SurveyId - @survey.Id 
</div>

@code {
    [Parameter]
    public int SurveyId { get; set; }

    private Models.Survey survey;

    protected override async Task OnInitializedAsync() {
        survey = await Http.GetFromJsonAsync<Models.Survey>("https://localhost:5001/api/Surveys/"+SurveyId);
    }

}