@inject HttpClient Http

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SurveyLand</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @foreach (var item in surveys)
        {
             <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"survey/{item.Id}")" onclick="OnParametersSetAsync()" Match="NavLinkMatch.All">
                    <span class="oi oi-star" aria-hidden="true"></span> @item.Title
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    List<Models.Survey> surveys = new List<Models.Survey>();
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    protected override async Task OnParametersSetAsync() {
        surveys = await Http.GetFromJsonAsync<List<Models.Survey>>("https://localhost:5001/api/Surveys/");
    }
}
